<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ver Contacto</title>
</head>
<body>
    <h1>Ver Contacto</h1>

    <label><strong>ID:</strong></label>
    <p>18</p>

    <label><strong>Nombre:</strong></label>
    <p>Dejah</p>

    <label><strong>Primer Apellido:</strong></label>
    <p>Thoris</p>

    <label><strong>Segundo Apellido:</strong></label>
    <p>Barsoom</p>

    <label><strong>Teléfono:</strong></label>
    <p>1111111</p>

    <label><strong>Email:</strong></label>
    <p>dejah@email.com</p>

    <br><br>
    <a href="/lista_contactos"><button>Regresar</button></a>
</body>
</html>